body {
    display: flex;
    justify-content: center;   /* alinha no eixo horizontal */
    align-items: center;       /* alinha no eixo vertical */
    height: 100vh;             /* ocupa 100% da altura da tela */
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Caixa que envolve todo o conteúdo */
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
h1 {
    color: #333;
     }

/* Agrupamento de campos */
.input-group {
    display: flex;
    flex-direction: column;
   justify-content: center;   
    align-items: center; 
    margin: 10px 0;
 
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

/* Botões */
button {
    padding: 10px 16px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #005f73;
}

/* Resultados */
#resultado, #saida {
    margin-top: 15px;
    font-weight: bold;
}